<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Connection</title>
</head>
<body>

    <form action="" method="post">
        
        ID : <input type="number" name="fid"> <br>
        Jenis : <input type="text" name="fjenis"> <br>
        Nama Komoditi : <input type="text" name="fnama"> <br>
        Daerah Asal : <input type="text" name="fasal"> <br>

        <button type="submit">Submit</button>

    </form>
    
</body>
</html>